/* Теги */
img {
    max-width: 50%;
    max-height: 50%;
    display: block;
}

/* Контейнеры - классы */
.menu{
    background-color: gray;
    /* сверху, справа, снизу, слева */
    margin: 50px 50px 50px 50px
}


.p1{
    background-color: rgb(115, 255, 0);
    display: flex
}


































/* .text1 {
    background-color: tomato;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}
.photo1 {
    background-color: blue;
    max-width: 50%;
    display: flex;

} */
